xlua-framework.sln
xlua-framework.csproj
xlua-framework.Editor.csproj
Assets/LuaScripts/NppGTags.cfg.meta
Assets/LuaScripts/NppGTags.cfg
Assets/LuaScripts/GTAGS.meta
Assets/LuaScripts/GTAGS
Assets/LuaScripts/GRTAGS.meta
Assets/LuaScripts/GRTAGS
Assets/LuaScripts/GPATH.meta
Assets/LuaScripts/GPATH
Assets/StreamingAssets/AssetBundles/
AssetBundles/
Assets/StreamingAssets/AssetBundles.meta
*.apk
Assets/AssetsPackage/Lua/
Assets/Scripts/XLua/Gen/
Assets/Scripts/XLua/Gen.meta
Assets/AssetsPackage/Lua.meta
*.csproj
*.sln
ProtoToLua/protobuf-3.11.4/
ProtoToLua/X64VS2017/
ProtoToLua/cmake-3.17.0/
ProtoToLua/cmake-3.17.0-win64-x64/
ProtoToLua/protobuf-2.5.0/
Temp/
ProtoToLua/plugin/__pycache__/plugin_pb2.cpython-36.pyc
*.vs/
